<button class="btn bg-primary" ng-click="fishes=!fishes">{{fishes ? 'Show Fish' : 'Hide Fish'}}</button>
<button class="btn bg-primary" ng-click="insects=!insects">{{insects ? 'Show Bugs' : 'Hide Bugs'}}</button>
<button class="btn bg-primary" ng-click="sea=!sea">{{sea ? 'Show Sea Creatures' : 'Hide Sea Creatures'}}</button>
<h1>All Critters That is All Day and All Year</h1>
	<div ng-controller="main-ctrl" ng-init="refresh()">
        <table class="table" ng-hide="fishes">
			<caption><h1>All Fish</h1></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bell</th>
					 <th>Bell From CJ</th>
					<th>Shadow</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="i in fishs" ng-if="i.availability['isAllDay'] && i.availability['isAllYear']">
					<td>{{i.name['name-USen']}}</td>
                    <td>{{i.price}}</td>
					<td>{{i['price-cj']}}</td>
					<td>{{i.shadow}}</td>
                    <td><img src={{i.image_uri}} width="150px" height="150px"></td>
                </tr>
            </tbody>
		<table class="table" ng-hide="insects">
			<caption><h1>All Bugs</h1></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bell</th>
					 <th>Bell From Flick</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="b in bugs" ng-if="b.availability['isAllDay'] && b.availability['isAllYear']">
					<td>{{b.name['name-USen']}}</td>
                    <td>{{b.price}}</td>
					<td>{{b['price-flick']}}</td>
                    <td><img src={{b.image_uri}} width="150px" height="150px"></td>
                </tr>
            </tbody>
        </table>
		<table class="table" ng-hide="sea">
			<caption><h1>All Sea Creatures</h1></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Bell</th>
					 <th>Shadow</th>
					 <th>Speed</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in seas" ng-if="s.availability['isAllDay'] && s.availability['isAllYear']">
					<td>{{s.name['name-USen']}}</td>
                    <td>{{s.price}}</td>
					<td>{{s.shadow}}</td>
					<td>{{s.speed}}</td>
                    <td><img src={{s.image_uri}} width="150px" height="150px"></td>
                </tr>
            </tbody>
        </table>
	</div>